<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Song List</title>
<link rel="stylesheet" href="{{ url_for('static', filename='songs.css') }}">
<script>
    document.addEventListener('DOMContentLoaded', function() {

        var songData = [
            {song: "Tum Hi Ho", movie: "Aashiqui 2",link : "https://open.spotify.com/track/56zZ48jdyY2oDXHVnwg5Di"},
            {song: "Channa Mereya", movie: "Ae Dil Hai Mushkil",link : "https://open.spotify.com/track/0H2iJVgorRR0ZFgRqGUjUM"},
            {song: "Tujhe Bhula Diya", movie: "Anjaana Anjaani",link : "https://open.spotify.com/track/4r8JqkhpTb5tzSKKHnVJIJ"},
            {song: "Kabira", movie: "Yeh Jawaani Hai Deewani",link : "https://open.spotify.com/track/4bD9z9qa4qg9BhryvYWB7c"},
            {song: "Kal Ho Naa Ho", movie: "Kal Ho Naa Ho",link : "https://open.spotify.com/track/251PNRmJU9KcUnFQAB5t6I"},
            {song: "Jeene Laga Hoon", movie: "Ramaiya Vastavaiya",link : "https://open.spotify.com/track/3t3wsY5IdLVzB9WidegJSU"},
            {song: "Agar Tum Saath Ho", movie: "Tamasha",link : "https://open.spotify.com/track/3hkC9EHFZNQPXrtl8WPHnX"},
            {song: "Tera Ban Jaunga", movie: "Kabir Singh",link : "https://open.spotify.com/track/3oWxFNsXstcancCR1wODR4"},
            {song: "Tum Mile", movie: "Tum Mile",link : "https://open.spotify.com/track/1EjxJHY9A6LMOlvyZdwDly"},
            {song: "Tum Jo Aaye", movie: "Once Upon a Time in Mumbaai",link : "https://open.spotify.com/track/2iZeKe5avjtKVmjfSFkpxd"}
        ];

        var listContainer = document.querySelector('.spotify-playlists');

        for (var i = 0; i < songData.length; i++) {
            var item = document.createElement('div');
            item.classList.add('item');

            item.innerHTML = `
                <div class="list">
                <div class="item">
                <img src="{{ url_for('static', filename='images/spotify.png') }}"/>
                <h4>${songData[i].song}</h4>
                <p>Movie - ${songData[i].movie}</p>
                <a href="${songData[i].link}" target="_blank">spotify</a>
                </div>
                </div>
            `;

            listContainer.appendChild(item);
        }
    });
</script>
</head>
<body>
    <header>
        <h1 class="head">SONGS FOR YOUR NEUTRAL MOOD</h1>
    </header>
<div class="spotify-playlists">
</div>
</div>
</body>
</html>
